/CanSoldClear/obj
/CanSoldClear/bin
/FXCommon/obj
/FXCommon/bin
/MealTicket_Admin_APIService/obj
/MealTicket_Admin_APIService/bin
/MealTicket_Admin_Handler/obj
/MealTicket_Admin_Handler/bin
/MealTicket_APIService/obj
/MealTicket_APIService/bin
/MealTicket_CacheCommon/obj
/MealTicket_CacheCommon/bin
/MealTicket_CacheCommon_Model/obj
/MealTicket_CacheCommon_Model/bin
/MealTicket_DBCommon/obj
/MealTicket_DBCommon/bin
/MealTicket_Handler/obj
/MealTicket_Handler/bin
/MealTicket_Web_APIService/obj
/MealTicket_Web_APIService/bin
/MealTicket_Web_Handler/obj
/MealTicket_Web_Handler/bin
/NewTransactionDataUpdate/obj
/NewTransactionDataUpdate/bin
/NoticeHandler/obj
/NoticeHandler/bin
/SecurityBarsDataUpdate/obj
/SecurityBarsDataUpdate/bin
/SharesHqService/obj
/SharesHqService/bin
/SharesHqService_Level2/obj
/SharesHqService_Level2/bin
/SharesTradeService/obj
/SharesTradeService/bin
/stock_db_core/obj
/stock_db_core/bin
/StockMarket/bin
/StockMarket/obj
/Test/obj
/Test/bin
/TransactionDataTri/obj
/TransactionDataTri/bin
/TransactionDataUpdate/obj
/TransactionDataUpdate/bin
/TransactionDataUpdate_App/obj
/TransactionDataUpdate_App/bin
/TransactionDataUpdate_NO3/obj
/TransactionDataUpdate_NO3/bin
/TransactionDataUpdate_NO4/obj
/TransactionDataUpdate_NO4/bin
/股票数据处理/obj
/股票数据处理/bin
